build/
packages/
idloutput/
*.suo
*.tlb
*.obj
*.pdb
*.user
*.exe
*.msi
*.tlog
*.opendb
*.db
*.lastbuildstate
*.bak
results.xml
DsmSuite.Analyzer.VisualStudio.Test.Data.Com/DsmSuiteAnalyzerVisualStudioTestDataCom_i.c
DsmSuite.Analyzer.VisualStudio.Test.Data.Com/DsmSuiteAnalyzerVisualStudioTestDataCom_i.h
DsmSuite.Analyzer.VisualStudio.Test.Data.Com/DsmSuiteAnalyzerVisualStudioTestDataCom_p.c
ipch/
