Release/
Debug/
x86/
x64/
bin/
obj/
IInterface1.h
IInterface1_i.c
IInterface1_p.c
IInterface2.h
IInterface2_i.c
IInterface2_p.c
*.suo
*.tlb
*.obj
*.pdb
*.user
*.exe
*.msi
*.tlog
*.opendb
*.db
*.lastbuildstate

packages/
