build/
packages/
idloutput/
*.suo
*.tlb
*.obj
*.pdb
*.user
*.exe
*.msi
*.tlog
*.opendb
*.db
*.lastbuildstate
*.bak
results.xml
DsmSuite.Analyzer.VisualStudio.Test.Data.Com/DsmSuiteAnalyzerVisualStudioTestDataCom_i.c
DsmSuite.Analyzer.VisualStudio.Test.Data.Com/DsmSuiteAnalyzerVisualStudioTestDataCom_i.h
DsmSuite.Analyzer.VisualStudio.Test.Data.Com/DsmSuiteAnalyzerVisualStudioTestDataCom_p.c
ipch/
.vs/
/DsmSuite.Analyzer.Compare.Test/obj
/DsmSuite.Analyzer.Compare/obj
/DsmSuite.Analyzer.CompareLib/obj
/DsmSuite.Analyzer.Cpp.Test/obj
/DsmSuite.Analyzer.Cpp/obj
/DsmSuite.Analyzer.DotNet.Lib/obj
/DsmSuite.Analyzer.DotNet.Test.Data/obj
/DsmSuite.Analyzer.DotNet.Test/obj
/DsmSuite.Analyzer.DotNet/obj
/DsmSuite.Analyzer.Jdeps.Test/obj
/DsmSuite.Analyzer.Jdeps/obj
/DsmSuite.Analyzer.Model.Test/obj
/DsmSuite.Analyzer.Model/obj
/DsmSuite.Analyzer.Transformations.Test/obj
/DsmSuite.Analyzer.Transformations/obj
/DsmSuite.Analyzer.Uml/obj
/DsmSuite.Analyzer.Util.Test/obj
/DsmSuite.Common.Model.Test/obj
/DsmSuite.Common.Model/obj
/DsmSuite.Common.Util.Test/obj
/DsmSuite.Common.Util/obj
/DsmSuite.DsmViewer.Application.Test/obj
/DsmSuite.DsmViewer.Application/obj
/DsmSuite.DsmViewer.Model.Test/obj
/DsmSuite.DsmViewer.Model/obj
/DsmSuite.DsmViewer.View/obj
/DsmSuite.DsmViewer.ViewModel.Test/obj
/DsmSuite.DsmViewer.ViewModel/obj
/DsmSuite.Installer/obj
