<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net472" />
  <package id="Moq" version="4.20.69" targetFramework="net472" />
  <package id="OpenCover" version="4.7.1221" targetFramework="net472" />
  <package id="ReportGenerator" version="5.1.25" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>