<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="DSM Suite" Language="1033" Version="$(var.LongAssyVersion)" Manufacturer="DsmSuite" UpgradeCode="C0C28C50-44C7-40DE-AA35-0F13437D7E19">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

    <MajorUpgrade Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A later version of the DSM suite C++ analyzer is already installed"
                  AllowSameVersionUpgrades="yes" />
    
    <ComponentGroup Id="CppAnalyzerComponents" Directory="CPP_ANALYZER_INSTALL_FOLDER">
      <Component Id="DsmSuite.Analyzer.Cpp.exe" Guid="7A2AAB67-FC9C-4BE1-AD30-F91C96EF06CC">
        <File Id="DsmSuite.Analyzer.Cpp.exe" Source="..\build\bin\DsmSuite.Analyzer.Cpp.Exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Model.Cpp.dll" Guid="CB822CC5-A318-4998-AF44-2251EF5456F7">
        <File Id="DsmSuite.Analyzer.Model.Cpp.dll" Source="..\build\bin\DsmSuite.Analyzer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Util.Cpp.dll" Guid="38AC1CBA-8F80-40A3-A1EE-684A29974332">
        <File Id="DsmSuite.Analyzer.Util.Cpp.dll" Source="..\build\bin\DsmSuite.Analyzer.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Model.Cpp.dll" Guid="BBBA1CD5-CE4C-439B-AEE7-AC4B6382FDFB">
        <File Id="DsmSuite.Common.Model.Cpp.dll" Source="..\build\bin\DsmSuite.Common.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Util.Cpp.dll" Guid="A754691F-643C-4D3F-A1B1-87F079447FCF">
        <File Id="DsmSuite.Common.Util.Cpp.dll" Source="..\build\bin\DsmSuite.Common.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DotNetAalyzerComponents" Directory="DOTNET_ANALYZER_INSTALL_FOLDER">
      <Component Id="DsmSuite.Analyzer.DotNet.exe" Guid="8F930FFA-CBEB-4E48-841D-CC3AE761C1E0">
        <File Id="DsmSuite.Analyzer.DotNet.exe" Source="..\build\bin\DsmSuite.Analyzer.DotNet.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.DotNet.Lib.dll" Guid="F3C5C5B7-F110-493A-B9DB-2BA4B29F0A5A">
        <File Id="DsmSuite.Analyzer.DotNet.Lib.dll" Source="..\build\bin\DsmSuite.Analyzer.DotNet.Lib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>      
      <Component Id="DsmSuite.Analyzer.Model.DotNet.dll" Guid="08FB95B9-7649-4EE0-9A55-FB6327F1D7C4">
        <File Id="DsmSuite.Analyzer.Model.DotNet.dll" Source="..\build\bin\DsmSuite.Analyzer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Util.DotNet.dll" Guid="977E042B-9680-42E9-99FE-91F14B240BA1">
        <File Id="DsmSuite.Analyzer.Util.DotNet.dll" Source="..\build\bin\DsmSuite.Analyzer.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Model.DotNet.dll" Guid="8738227D-0914-4BDB-AEE8-6E1DE6C65657">
        <File Id="DsmSuite.Common.Model.DotNet.dll" Source="..\build\bin\DsmSuite.Common.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Util.DotNet.dll" Guid="00BD08C4-8733-441A-A718-E39E49DE2D81">
        <File Id="DsmSuite.Common.Util.DotNet.dll" Source="..\build\bin\DsmSuite.Common.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Mono.Cecil.dll" Guid="C8051805-428D-42AD-B300-2B4FD9CAF66D">
        <File Id="Mono.Cecil.dll" Source="..\build\bin\Mono.Cecil.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Mono.Cecil.Mdb.dll" Guid="BFE45360-AA18-4CA8-8E64-74CD9913C1C2">
        <File Id="Mono.Cecil.Mdb.dll" Source="..\build\bin\Mono.Cecil.Mdb.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Mono.Cecil.Pdb.dll" Guid="8615B673-B985-4172-A850-F97F8FB6E449">
        <File Id="Mono.Cecil.Pdb.dll" Source="..\build\bin\Mono.Cecil.Pdb.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Mono.Cecil.Rocks.dll" Guid="9AF78FE1-8F9C-4446-9A76-8EFA16A73595">
        <File Id="Mono.Cecil.Rocks.dll" Source="..\build\bin\Mono.Cecil.Rocks.dll" KeyPath="yes" Checksum="yes"/>
      </Component>   
    </ComponentGroup>

    <ComponentGroup Id="JavaAnalyzerComponents" Directory="JAVA_ANALYZER_INSTALL_FOLDER">
      <Component Id="DsmSuite.Analyzer.Jdeps.exe" Guid="01EC8FED-31D0-45B4-B3FA-E864BCF54EA0">
        <File Id="DsmSuite.Analyzer.Jdeps.exe" Source="..\build\bin\DsmSuite.Analyzer.Jdeps.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Model.Jdeps.dll" Guid="6D750515-B877-48F2-8C10-939D7720DAD1">
        <File Id="DsmSuite.Analyzer.Model.Jdeps.dll" Source="..\build\bin\DsmSuite.Analyzer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Util.Jdeps.dll" Guid="02EB4E11-FF0E-4006-9BDE-A323CF3BF1CE">
        <File Id="DsmSuite.Analyzer.Util.Jdeps.dll" Source="..\build\bin\DsmSuite.Analyzer.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Model.Jdeps.dll" Guid="FBC3F60A-6B46-4365-8BD6-D06E9615A3DA">
        <File Id="DsmSuite.Common.Model.Jdeps.dll" Source="..\build\bin\DsmSuite.Common.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Util.Jdeps.dll" Guid="E75C3A3A-CE7D-44E4-B585-A0DFB0DC4D50">
        <File Id="DsmSuite.Common.Util.Jdeps.dll" Source="..\build\bin\DsmSuite.Common.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="UmlAnalyzerComponents" Directory="UML_ANALYZER_INSTALL_FOLDER">
      <Component Id="DsmSuite.Analyzer.Uml.exe" Guid="841F3BC7-14A5-4D14-AB3D-2D9583D4BFC1">
        <File Id="DsmSuite.Analyzer.Uml.exe" Source="..\build\bin\DsmSuite.Analyzer.Uml.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Model.Uml.dll" Guid="A0165030-8D67-4C86-9261-C24BFB11D828">
        <File Id="DsmSuite.Analyzer.Model.Uml.dll" Source="..\build\bin\DsmSuite.Analyzer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Util.Uml.dll" Guid="DC2DBE4B-3611-4FAF-A141-1B61F57952FB">
        <File Id="DsmSuite.Analyzer.Util.Uml.dll" Source="..\build\bin\DsmSuite.Analyzer.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Model.Uml.dll" Guid="6A8D2F57-D5B2-44AF-B45E-C1A6CF0A381B">
        <File Id="DsmSuite.Common.Model.Uml.dll" Source="..\build\bin\DsmSuite.Common.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Util.Uml.dll" Guid="1D6E11DB-B555-4B2A-996F-7F7D3ADC2DC8">
        <File Id="DsmSuite.Common.Util.Uml.dll" Source="..\build\bin\DsmSuite.Common.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="VisualStudioAnalyzerComponents" Directory="VISUALSTUDIO_ANALZYER_INSTALL_FOLDER">
      <Component Id="DsmSuite.Analyzer.VisualStudio.exe" Guid="E1A40F74-72C6-42ED-8227-9B23B8F59069">
        <File Id="DsmSuite.Analyzer.VisualStudio.exe" Source="..\build\bin\DsmSuite.Analyzer.VisualStudio.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.VisualStudio.DotNet.Lib.dll" Guid="6E2ECF91-5FCE-4AC5-B30B-8E965ECB7784">
        <File Id="DsmSuite.Analyzer.VisualStudio.DotNet.Lib.dll" Source="..\build\bin\DsmSuite.Analyzer.DotNet.Lib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>       
      <Component Id="DsmSuite.Analyzer.Model.VisualStudio.dll" Guid="D1F4FA40-B75A-4CB8-A18A-20138863AE75">
        <File Id="DsmSuite.Analyzer.Model.VisualStudio.dll" Source="..\build\bin\DsmSuite.Analyzer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Util.VisualStudio.dll" Guid="3E8F6209-4513-4DBE-A1C7-C46F90FD7DFF">
        <File Id="DsmSuite.Analyzer.Util.VisualStudio.dll" Source="..\build\bin\DsmSuite.Analyzer.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Model.VisualStudio.dll" Guid="D8CB0B1B-B402-44D9-BFD4-7DBDFFE933A5">
        <File Id="DsmSuite.Common.Model.VisualStudio.dll" Source="..\build\bin\DsmSuite.Common.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Util.VisualStudio.dll" Guid="9B4692A7-BB1F-4B40-8336-2A75B87D369A">
        <File Id="DsmSuite.Common.Util.VisualStudio.dll" Source="..\build\bin\DsmSuite.Common.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>      
      <Component Id="Microsoft.Build.dll" Guid="9D8CCFF0-2F1D-4351-96B4-FE6E802885F5">
        <File Id="Microsoft.Build.dll" Source="..\build\bin\Microsoft.Build.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Microsoft.Build.Framework.dll" Guid="DD0FB5F2-08AC-4212-A4EB-DA5F065B5A12">
        <File Id="Microsoft.Build.Framework.dll" Source="..\build\bin\Microsoft.Build.Framework.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Microsoft.Build.Utilities.Core.dll" Guid="687EC26D-60B2-4726-9362-FA5C6F659A79">
        <File Id="Microsoft.Build.Utilities.Core.dll" Source="..\build\bin\Microsoft.Build.Utilities.Core.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="System.Collections.Immutable.dll" Guid="A8D1DB31-8ED7-463F-98DF-58B5A0EAA5A6">
        <File Id="System.Collections.Immutable.dll" Source="..\build\bin\System.Collections.Immutable.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="System.IO.Compression.dll" Guid="32B9D0D3-91BC-4252-A3FF-25E57279C725">
        <File Id="System.IO.Compression.dll" Source="..\build\bin\System.IO.Compression.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="System.Runtime.InteropServices.RuntimeInformation.dll" Guid="413EB58B-855A-4530-99FD-813691871FDF">
        <File Id="System.Runtime.InteropServices.RuntimeInformation.dll" Source="..\build\bin\System.Runtime.InteropServices.RuntimeInformation.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="System.Threading.Tasks.Dataflow.dll" Guid="AC9E4ED1-DF23-4EFE-ACB4-330D2A474635">
        <File Id="System.Threading.Tasks.Dataflow.dll" Source="..\build\bin\System.Threading.Tasks.Dataflow.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="TransformerComponents" Directory="TRANSFORMER_INSTALL_FOLDER">
      <Component Id="DsmSuite.Transformer.exe" Guid="80ECF90C-DCB4-4EDA-99CD-EEA169C57CFD">
        <File Id="DsmSuite.Transformer.exe" Source="..\build\bin\DsmSuite.Transformer.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Model.Transformer.dll" Guid="C7F1C371-63DE-4ACA-9AB6-2CBD069B7115">
        <File Id="DsmSuite.Analyzer.Model.Transformer.dll" Source="..\build\bin\DsmSuite.Analyzer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Util.Transformer.dll" Guid="D7C5AB42-78C1-45A2-8798-91D5CA109C29">
        <File Id="DsmSuite.Analyzer.Util.Transformer.dll" Source="..\build\bin\DsmSuite.Analyzer.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Model.Transformer.dll" Guid="1A61C724-21A7-48C2-97F2-BC5D50109B1A">
        <File Id="DsmSuite.Common.Model.Transformer.dll" Source="..\build\bin\DsmSuite.Common.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Util.Transformer.dll" Guid="3C94C337-3D9D-401B-AB73-2DF3F7103025">
        <File Id="DsmSuite.Common.Util.Transformer.dll" Source="..\build\bin\DsmSuite.Common.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>      
    </ComponentGroup>

    <ComponentGroup Id="DsmViewerComponents" Directory="VIEWER_INSTALL_FOLDER">
      <Component Id="DsmSuite.DsmViewer.View.exe" Guid="9E39FD85-9B8E-4B76-9366-13CF6AC732B3">
        <File Id="DsmSuite.DsmViewer.View.exe" Source="..\build\bin\DsmSuite.DsmViewer.View.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.DsmViewer.ViewModel.dll" Guid="2E011513-1100-4610-A661-EE667AC06151">
        <File Id="DsmSuite.DsmViewer.ViewModel.dll" Source="..\build\bin\DsmSuite.DsmViewer.ViewModel.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.DsmViewer.Application.dll" Guid="79D6350F-8069-41A7-9A40-F75D928FE985">
        <File Id="DsmSuite.DsmViewer.Application.dll" Source="..\build\bin\DsmSuite.DsmViewer.Application.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.DsmViewer.Reporting.dll" Guid="91272EB7-BD46-40DE-A4D0-7BE1444D804A">
        <File Id="DsmSuite.DsmViewer.Reporting.dll" Source="..\build\bin\DsmSuite.DsmViewer.Reporting.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.DsmViewer.Builder.exe" Guid="A655CDCD-C0C6-4651-B2D6-C6524DA0DE58">
        <File Id="DsmSuite.DsmViewer.Builder.exe" Source="..\build\bin\DsmSuite.DsmViewer.Builder.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.DsmViewer.Model.dll" Guid="4F1F0718-89B7-4BF1-8AFD-97F6D62D553E">
        <File Id="DsmSuite.DsmViewer.Model.dll" Source="..\build\bin\DsmSuite.DsmViewer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Model.DsmViewer.dll" Guid="3B784A87-08E5-4ED0-8730-1868228CD31F">
        <File Id="DsmSuite.Common.Model.DsmViewer.dll" Source="..\build\bin\DsmSuite.Common.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Common.Util.DsmViewer.dll" Guid="93B13A2D-50E4-45A1-8C33-3D73E1CCE750">
        <File Id="DsmSuite.Common.Util.dll" Source="..\build\bin\DsmSuite.Common.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Model.DsmViewer.dll" Guid="4A933F4A-E039-4E1B-B8F7-855809B1B411">
        <File Id="DsmSuite.Analyzer.Model.DsmViewer.dll" Source="..\build\bin\DsmSuite.Analyzer.Model.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DsmSuite.Analyzer.Util.DsmViewer.dll" Guid="DA76C043-AAA7-4B9B-9186-51C61433B996">
        <File Id="DsmSuite.Analyzer.Util.DsmViewer.dll" Source="..\build\bin\DsmSuite.Analyzer.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MAINFOLDER" Name="DsmSuite">
          <Directory Id="ANALYZERS" Name="Analyzers">
            <Directory  Id="CPP_ANALYZER_INSTALL_FOLDER" Name="C++" />
            <Directory  Id="DOTNET_ANALYZER_INSTALL_FOLDER" Name="DotNet" />
            <Directory  Id="JAVA_ANALYZER_INSTALL_FOLDER" Name="Java" />
            <Directory  Id="UML_ANALYZER_INSTALL_FOLDER" Name="UML" />
            <Directory  Id="VISUALSTUDIO_ANALZYER_INSTALL_FOLDER" Name="VisualStudio" />
          </Directory>
          <Directory  Id="TRANSFORMER_INSTALL_FOLDER" Name="Transformer" />
          <Directory  Id="VIEWER_INSTALL_FOLDER" Name="Viewer" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Dsm Suite"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="633CDBBD-AA1E-4F46-9375-49984FFBC033">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="DSM dependency viewer"
                  Description="Application to software dependencies in a matrix"
                  Target="[#DsmSuite.DsmViewer.View.exe]"
                  WorkingDirectory="VIEWER_INSTALL_FOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <UI>
      <UIRef Id="WixUI_FeatureTree"/>
      <UIRef Id="WixUI_ErrorProgressText"/>
    </UI>

    <Feature Id="CppAnalyzerFeature" Title="DSM Suite C++ Analyzer" Level="1">
      <ComponentRef Id="DsmSuite.Analyzer.Cpp.exe" />
      <ComponentRef Id="DsmSuite.Analyzer.Model.Cpp.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Util.Cpp.dll" />
      <ComponentRef Id="DsmSuite.Common.Model.Cpp.dll" />
      <ComponentRef Id="DsmSuite.Common.Util.Cpp.dll" />
    </Feature>

    <Feature Id="DotNetAnalyzerFeature" Title="DSM Suite .Net Analyzer" Level="1">
      <ComponentRef Id="DsmSuite.Analyzer.DotNet.exe" />
      <ComponentRef Id="DsmSuite.Analyzer.DotNet.Lib.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Model.DotNet.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Util.DotNet.dll" />
      <ComponentRef Id="DsmSuite.Common.Model.DotNet.dll" />
      <ComponentRef Id="DsmSuite.Common.Util.DotNet.dll" />
      <ComponentRef Id="Mono.Cecil.dll" />
      <ComponentRef Id="Mono.Cecil.Mdb.dll" />
      <ComponentRef Id="Mono.Cecil.Pdb.dll" />
      <ComponentRef Id="Mono.Cecil.Rocks.dll" />
    </Feature>

    <Feature Id="JavaAnalyzerFeature" Title="DSM Suite JDeps Analyzer" Level="1">
      <ComponentRef Id="DsmSuite.Analyzer.Jdeps.exe" />
      <ComponentRef Id="DsmSuite.Analyzer.Model.Jdeps.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Util.Jdeps.dll" />
      <ComponentRef Id="DsmSuite.Common.Model.Jdeps.dll" />
      <ComponentRef Id="DsmSuite.Common.Util.Jdeps.dll" />
    </Feature>

    <Feature Id="UmlAnalyzerFeature" Title="DSM Suite UML Analyzer" Level="1">
      <ComponentRef Id="DsmSuite.Analyzer.Uml.exe" />
      <ComponentRef Id="DsmSuite.Analyzer.Model.Uml.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Util.Uml.dll" />
      <ComponentRef Id="DsmSuite.Common.Model.Uml.dll" />
      <ComponentRef Id="DsmSuite.Common.Util.Uml.dll" />
    </Feature>

    <Feature Id="VisualStudioAnalyzerFeature" Title="DSM Suite Visual Studio Analyzer" Level="1">
      <ComponentRef Id="DsmSuite.Analyzer.VisualStudio.exe" />
      <ComponentRef Id="DsmSuite.Analyzer.VisualStudio.DotNet.Lib.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Model.VisualStudio.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Util.VisualStudio.dll" />
      <ComponentRef Id="DsmSuite.Common.Model.VisualStudio.dll" />
      <ComponentRef Id="DsmSuite.Common.Util.VisualStudio.dll" />
      <ComponentRef Id="Microsoft.Build.dll" />
      <ComponentRef Id="Microsoft.Build.Framework.dll" />
      <ComponentRef Id="Microsoft.Build.Utilities.Core.dll" />
      <ComponentRef Id="System.Collections.Immutable.dll" />
      <ComponentRef Id="System.IO.Compression.dll" />
      <ComponentRef Id="System.Runtime.InteropServices.RuntimeInformation.dll" />
      <ComponentRef Id="System.Threading.Tasks.Dataflow.dll" />
    </Feature>

    <Feature Id="TransformerFeature" Title="DSM Suite Transformer" Level="1">
      <ComponentRef Id="DsmSuite.Transformer.exe" />
      <ComponentRef Id="DsmSuite.Analyzer.Model.Transformer.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Util.Transformer.dll" />
      <ComponentRef Id="DsmSuite.Common.Model.Transformer.dll" />
      <ComponentRef Id="DsmSuite.Common.Util.Transformer.dll" />
    </Feature>

    <Feature Id="DsmViewerFeature" Title="DSM Viewer" Level="1">
      <ComponentRef Id="DsmSuite.DsmViewer.View.exe" />
      <ComponentRef Id="DsmSuite.DsmViewer.ViewModel.dll" />
      <ComponentRef Id="DsmSuite.DsmViewer.Application.dll" />
      <ComponentRef Id="DsmSuite.DsmViewer.Reporting.dll" />
      <ComponentRef Id="DsmSuite.DsmViewer.Builder.exe" />
      <ComponentRef Id="DsmSuite.DsmViewer.Model.dll" />
      <ComponentRef Id="DsmSuite.Common.Model.DsmViewer.dll" />
      <ComponentRef Id="DsmSuite.Common.Util.DsmViewer.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Model.DsmViewer.dll" />
      <ComponentRef Id="DsmSuite.Analyzer.Util.DsmViewer.dll" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>
</Wix>
